import(e1071, MCMCpack)
importFrom(fields, image.plot)
importFrom(nlme, fdHess)

exportPattern("Alzheimer", "as.mcmc.blca.gibbs", "blca", "blca.boot", "blca.em", "blca.em.sd", "blca.gibbs", "blca.vb", "data.blca", "MAP", "rlca", "unMAP", "Zscore")
S3method(print, blca)
S3method(plot, blca)
S3method(plot, blca.em)
S3method(plot, blca.vb)
S3method(plot, blca.boot)
S3method(plot, blca.gibbs)
S3method(print, summary.blca)
S3method(summary, blca)
S3method(summary, blca.em)
S3method(summary, blca.vb)
S3method(summary, blca.boot)
S3method(summary, blca.gibbs)

